<div class="container-fluid">
  <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_row row align-items-center">
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
  </div>
  <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_row row align-items-center">
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
  </div>
  <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_row row align-items-center">
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
  </div>
  <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_row row align-items-center">
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
  </div>
  <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_row row align-items-center">
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
  </div>
  <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_row row align-items-center">
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
  </div>
  <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_row row align-items-center">
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
    <div [ngClass]="{'g_cell_background':backgroundFlag}" class="g_cell col">column</div>
  </div>

<div class="container-fluid">
  <div class="row justify-content-center align-items-center g-2">
    <div class="col">
      <p> {{output1 }}</p>
      
    </div>
    <div class="col">
      <p> {{output2 }}</p>
      
    </div>
    <div class="col">
      <p> {{output3 }}</p>
    </div>
  </div>
  <div class="row justify-content-center align-items-center g-2">
    <div class="col-auto">
      <button class="btn btn-primary" (click)="startCars(0,100)"  type="submit">Start Cars</button>
    </div>
  </div>
  <div class="row justify-content-center align-items-center g-2">
    <div class="col-auto">
      <button class="btn btn-primary" (click)="startButton()"  type="submit">Start Button</button>
    </div>
  </div>
  <div class="row justify-content-center align-items-center g-2">
    <div class="col-auto">
      <button class="btn btn-primary" (click)="stopButton()"  type="submit">Stop Button</button>
    </div>
  </div>
</div>
