.g_row {
    margin: auto;
    border: dashed 2px white;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: rosybrown;
    height: 100px;
    padding:auto;
}

.g_cell {
    white-space: pre-wrap;
    line-height: 1;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

}
.g_cell_background {
    background-color: lightcoral;
}
